@model Turista
@{
}

<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Pessoa.Nome">Nome</label>
        <input asp-for="Pessoa.Nome" placeholder="Nome">
        <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pessoa.Email">E-Mail</label>
        <input asp-for="Pessoa.Email" placeholder="Email">
        <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pessoa.Password">Senha</label>
        <input asp-for="Pessoa.Password" placeholder="Senha">
        <span asp-validation-for="Pessoa.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>