@using LocalWise.Data.Enum;
@model GerenteLocal
@{
}

<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="RazaoSocial">Razao Social</label>
        <input asp-for="RazaoSocial" placeholder="Razao Social">
        <span asp-validation-for="RazaoSocial" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Endereco.Logradouro">Logradouro</label>
        <input asp-for="Endereco.Logradouro" placeholder="Logradouro">
        <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Endereco.Numero">Numero</label>
        <input asp-for="Endereco.Numero" placeholder="Numero">
        <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Endereco.Bairro">Bairro</label>
        <input asp-for="Endereco.Bairro" placeholder="Bairro">
        <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Endereco.Cidade">Cidade</label>
        <input asp-for="Endereco.Cidade" placeholder="Cidade">
        <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Endereco.Cep">CEP</label>
        <input asp-for="Endereco.Cep" placeholder="Cep">
        <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Endereco.Estado">Estado</label>
        <select asp-for="Endereco.Estado" asp-items="@Html.GetEnumSelectList<Estados>()">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pessoa.Nome">Nome</label>
        <input asp-for="Pessoa.Nome" placeholder="Nome">
        <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pessoa.Email">E-Mail</label>
        <input asp-for="Pessoa.Email" placeholder="E-mail">
        <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pessoa.Password">Senha</label>
        <input asp-for="Pessoa.Password" placeholder="Senha">
        <span asp-validation-for="Pessoa.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>