@model GerenteLocal
@{
    ViewData["Title"] = "Gerente Local";
}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Gerente Local</h1>
                <p class="lead text-body-secondary">Gerentes locais</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Login</a><!-- Corrigir o link do Login do Guia-->
                    <a asp-controller="Account" asp-action="RegisterGuia" class="btn btn-secondary my-2">Cadastre novo Guia</a><!-- Corrigri o link do Cadastro do Guia-->
                    <a asp-controller="gerenteLocal" asp-action="Detail" class="btn btn-secondary my-2">Detalhes</a><!-- Falta colocar o ID para transferir correto - asp-route-id=(ARROBA)Model.Id ou asp-route-id=(ARROBA)Item.Id(se estiver retornando uma list) - -->
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text"> ------------ </p>
                            <p class="card-text">-------------------</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-body-secondary">-------------</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>