@using LocalWise.ViewModel;
@model CreateGuiaViewModel

@{
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <!-- o "enctype="multipart/form-data" é para poder usar as magens com o cloudinary -->
    <div class="mb-3">
        <label asp-for="Pessoa.Nome">Nome</label>
        <input asp-for="Pessoa.Nome" class="form-control" placeholder="Nome">
        <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pessoa.Email">E-Mail</label>
        <input asp-for="Pessoa.Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pessoa.Password">Senha</label>
        <input asp-for="Pessoa.Password" class="form-control" placeholder="Senha">
        <span asp-validation-for="Pessoa.Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UrlPhoto">Foto do perfil</label>
        <input asp-for="UrlPhoto" type="file" class="form-control" placeholder="Foto">
        <span asp-validation-for="UrlPhoto" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>