@model IEnumerable<Guia>

@{
    ViewData["Title"] = "Guia";
}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Guia</h1>
                <p class="lead text-body-secondary"> Guias </p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Login</a><!-- Corrigir o link do Login do Guia-->
                    <a asp-controller="guia" asp-action="Register" class="btn btn-secondary my-2">Cadastro</a><!-- Corrigri o link do Cadastro do Guia-->
                    <a asp-controller="guia" asp-action="Detail" class="btn btn-secondary my-2">Detalhes</a><!-- Falta colocar o ID para transferir correto - asp-route-id=(ARROBA)Model.Id ou asp-route-id=(ARROBA)Item.Id(se estiver retornando uma list) - -->
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach(var item in Model)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                @if (item.Pessoa.UserName != null)
                                {
                                    <p class="card-text">@item.Pessoa.Email</p>
                                }
                                else
                                {
                                    <p class="card-text">- Sem Email -</p>
                                }

                                <img class="card-img-top" src="@item.UrlPhoto" width="100%" height="225">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-body-secondary">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</main>