@using LocalWise.ViewModel;
@model LoginViewModel

<section class="container row align-items-center">
    <div id="Direito" class="col-md-4">
        <div>
            <p>Ser guia é como ser o GPS humano de um grupo de pessoas perdidas em uma cidade desconhecida, só que muito mais divertido! É como se você fosse um super-herói que conhece todos os caminhos secretos e os melhores lugares para comer, beber e se divertir. É como se você fosse um mestre Jedi, guiando seus padawans em uma jornada emocionante através da cidade. Mas, acima de tudo, ser guia é compartilhar sua paixão pela cidade com outras pessoas, mostrando-lhes todas as coisas incríveis que ela tem a oferecer e criando memórias que durarão para sempre!</p>
            <p>Registre-se como <a asp-controller="Guia" asp-action="Register">Guia</a>!</p>
        </div>
    </div>
    <div id="Centro" class="col-md-4">

        <form asp-action="login" method="post">

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email" class="form-label"></label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input asp-for="Password" type="password" class="form-control" />
                <label asp-for="Password" class="form-label"></label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <!--<div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    -- Checkbox --
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    -- Simple link --
                    <a href="#!">Forgot password?</a>
                </div>
            </div>-->

            <!-- Submit button -->
            <input class="btn btn-primary btn-block mb-4" type="submit" value="Login" />
            <br />
            <br />
            <p>Registre - se como <a asp-controller="Account" asp-action="TuristaRegister"> Turista </a>!</p>
            <p>Registre - se como <a asp-controller="Account" asp-action="GuiaRegister"> Guia </a>!</p>
        </form>
    </div>
    <div id="Esquerda" class="col-md-4">
        <div>
            <p>Ser turista é como ser um explorador em uma terra desconhecida, mas com uma câmera na mão e uma mala cheia de roupas que nunca usamos no dia a dia. É como se você fosse um personagem de um filme de aventura, descobrindo novas culturas, experimentando comidas exóticas e fazendo amizade com pessoas de todo o mundo. É como se você fosse um aprendiz de mago, coletando lembranças e relíquias para levar de volta para sua terra natal. Mas, acima de tudo, ser turista é deixar sua zona de conforto e se permitir ser surpreendido pelo desconhecido, criando histórias e experiências que te acompanharão para sempre!</p>
            <p>Registre-se como <a asp-controller="Turista" asp-action="Register">Turista</a>!</p>
        </div>
    </div>
</section>
