@using LocalWise.ViewModel;
@model RegisterGuiaViewModel

<form method="post" asp-action="RegisterGuia" enctype="multipart/form-data">
    <!-- o "enctype="multipart/form-data" é para poder usar as magens com o cloudinary -->
    <div class="mb-3">
        <label asp-for="Name">Nome</label>
        <input asp-for="Name" class="form-control" placeholder="Nome">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email">E-Mail</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Senha">Senha</label>
        <input asp-for="Senha" type="password" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UrlPhoto">Foto do perfil</label>
        <input asp-for="UrlPhoto" type="file" class="form-control" placeholder="Foto">
        <span asp-validation-for="UrlPhoto" class="text-danger"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>